.field-title {
    font-weight: 600;
}

.status input[type='radio']{
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.profile-img{
    margin: 0 0 30px;
}

.status .btn{
    cursor: default;
    max-width: 80px;
}