.field-title {
    font-weight: 600;
}

.status input[type='radio']{
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.status.blocked label{
    cursor: default;
}

.profile-img{
    margin: 0 0 30px;
}